body
{
background-color:plum;
font-family:arial;
margin-top:30px;
color:brown;
}

p
{
text-align:justify;
font famyli:calibri;
color:white,
}

p.for2
{
text-align:center;
font-family:times new roman;
color:pink;
}

p.centrar
{
text-align:center;
}

h1,h2
{
background-color:silver;
text-atyle:italic;
color:teal;
text-align:center;
}

img
{
width:10px;
height:10px;
}


